.category{
    display: flex;
    flex-direction: row;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.buttonpages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
.news {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
   
}
.news-item {
    flex: 1 0 200px;
    border-radius: 30px;
    background-color: rgb(211, 162, 162); /* Light chalk color */
    width: 350px;
    height: 300px;
    padding: 10px;
    margin: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.news-item:hover {
    transform: scale(1.05); /* Slightly increase size to create bounce effect */
    background-color: rgb(235, 235, 235); /* Slightly darker on hover */
}

.title{
    font-weight: 500;
    font-size: larger;
}

.content{
    font-weight:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



.imagenews{
   padding-left: 100px;
}



.progrestrack{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-right:100px;
}


.progress-start
{
    border-radius: 20px;
    height:70vh;
    width: 20vw;
}
.publish{
    margin-top: 10px;
    margin-bottom: 50px;
    width:250px;
   border-radius: 10px;
}