.news-item-header{
    display: flex;
    justify-content: space-between;
}
.actions{
    display: flex;
    position: absolute;
    margin-top: 90px;
}
.edit{
    margin-left: 10px;
}
.delete{
    margin-left: 70px;

    border-radius: 100px;
}
.delete:hover {
    transform: scale(1.5); 
}
.edit:hover {
    transform: scale(1.5); 
}
/* App.css */

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 1.9s ease;
  }
  
  .toggle-button.live {
    background-color: red; /* Red color for 'Withdraw' */
  }
  
  .toggle-button.offline {
    background-color: blue; /* Blue color for 'Go Live' */
  }
  